.disp {
  margin: 10px;
  width: 90%;
  height: 500px;
  border: 1px solid blue;
}

.window {
  width: 70%;
  height: 70%;
  border: 1px solid white;
  margin: 10px;
}
.inputText {
  max-width: fit-content;
  max-height: fit-content;
}
